body {
    background-image: url(https://i.pinimg.com/1200x/9d/9b/72/9d9b7296b4c136cd7c8ade9c21dee77a.jpg);
  }
  
  h1{
    color: white;
    text-decoration: underline;
    text-decoration-color: red;
    font-family: 'Space Theme', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

  p{
    color: white;
    font-family: 'Space Theme', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  img{
    display: block;
    max-width: 300px;
    border: 10px solid white;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    
  }
  
  p {
    background-color: black;
    padding: 15px;
    
  }
  
  .header-text{
    color: white;
  
  }
  
  .img-container{
    padding: 15px;

  }

  .vid-container{
    padding: 15px;

  }
  